.main {
  text-align: center;
}

.page__title-item {
  display: block;
}

.page__title {
  font-size: 116px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 136.18px;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
}

.page__title:hover::before {
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  white-space: pre;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  line-height: 35px;
  font-size: 35px;
  text-transform: none;
  position: absolute;
  z-index: 3;
  background-color: white;
  width: 742px;
  height: 142px;
  top: 122px;
  left: 400px;
  border-radius: 20px;
  border: black 2px solid;
  border-bottom: 15px solid black;
  font-weight: 400;
  padding: 40px 44px 30px;
  letter-spacing: normal;
  color: black;
}

.page__title:hover {
  color: #4C4C4C;
}

.video_cover {
  z-index: 1;
  width: 1600px;
  height: 900px;
  position: relative;
  opacity: 0.8;
}